<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width:100%;text-align:center">
        <label>区块链管理</label>
        <br><br><br><br>
        <input type="button" onclick="javascript:location.href='blockchain-init'" value="初始化区块链">
        <br><br>
        <input type="button" onclick="javascript:location.href='to-add-patient'" value="添加病人">
        <br><br>
        <form action="/find-patient" method="post">
            证件号: <input type="text" name="identifier">
            <input type="button" onclick="javascript:location.href='find-patient'" value="查询病人">
        </form>
        <p>{{ msg }}</p>
    </div>
</body>
</html>