<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>区块链系统</title>
</head>
<body>
    <div style="width:100%;text-align:center">
        <label>医生管理</label>
        <form action="/get-doctor-records" method="post">
            医生编号: <input type="text" name="doctor_id">
            <input type="submit" value="查询医生就诊记录">
        </form>
        <form action="/get-doctor-del-records" method="post">
            证件号: <input type="text" name="doctor_id">
            <input type="submit" value="查询医生被删除的就诊记录">
        </form>
        {{ msg }}
        <br><br>
        <input type="button" onclick="javascript:location.href='blockchain-manager'" value="管理界面">
    </div>

</body>
</html>