<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width:100%;text-align:center">
        {% for record in record_info_list %}
        <table border="1" align="center">
            <tr>
                <th colspan="2">就诊信息</th>
            </tr>
            <tr>
                <td colspan="2">就诊记录ID: {{ record.identifier }} </td>
            </tr>
            <tr>
                <td>病人ID: {{ record.patient_id }} </td>
                <td>姓名: {{  record.patient.name }} </td>
            </tr>
            <tr>
                <td>性别: {{  record.patient.gender }} </td>
                <td>年龄: {{  record.patient.age }} </td>

            </tr>
            <tr>
                <td>民族: {{  record.patient.nation}}</td>
                <td>出生地: {{  record.patient.born_loc }}</td>
            </tr>
            <tr>
                <td colspan="2">现居地: {{  record.patient.address }}</td>
            </tr>
            <tr>
                <td>就诊时间: {{ record.record_time }} </td>
                <td>就诊地点: {{ record.record_loc }} </td>

            </tr>
            <tr>
                <td colspan="2">主诉: {{ record.chief_complaint}}</td>
            </tr>
            <tr>
                <td colspan="2">现病史: {{ record.present_illness_history}}</td>
            </tr>
            <tr>
                <td colspan="2">既往史：{{ record.past_history }} </td>

            </tr>
        </table>
            <br><br>
        {% endfor %}
        <input type="button" onclick="javascript:location.href='blockchain-manager'" value="管理界面">
        <input type="button" onclick="javascript:location.href='to-doctor-manager'" value="医生管理界面">
    </div>
</body>
</html>