<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="width:100%;text-align:center">
        {% for record in record_info_list %}
        <table border="1" align="center">
            <tr>
                <th colspan="2">已删除的就诊信息</th>
            </tr>
            <tr>
                <td>删除者类别: {{ record.operator_type }} </td>
                <td>删除者id: {{ record.operator_id }} </td>
            </tr>
            <tr>
                <td colspan="2">就诊记录ID: {{ record.record_del_info.identifier }} </td>
            </tr>
            <tr>
                <td>医生编号: {{ record.doctor.identifier }} </td>
                <td>姓名: {{ record.doctor.name }} </td>
            </tr>
            <tr>
                <td>性别: {{ record.doctor.gender }} </td>
                <td>年龄: {{ record.doctor.age }} </td>

            </tr>
            <tr>
                <td>民族: {{ record.doctor.nation}}</td>
                <td>医院: {{ record.doctor.hospital }}</td>
            </tr>
            <tr>
                <td>科室: {{ record.doctor.department }}</td>
                <td>级别: {{ record.doctor.grade }}</td>
            </tr>
            <tr>
                <td>就诊时间: {{ record.record_del_info.record_time }} </td>
                <td>就诊地点: {{ record.record_del_info.record_loc }} </td>

            </tr>
            <tr>
                <td colspan="2">主诉: {{ record.record_del_info.chief_complaint}}</td>
            </tr>
            <tr>
                <td colspan="2">现病史: {{ record.record_del_info.present_illness_history}}</td>
            </tr>
            <tr>
                <td colspan="2">既往史：{{ record.record_del_info.past_history }} </td>

            </tr>
            <tr>
                <td colspan="2">所在交易单ID：{{ record.record_del_info.tx_id }} </td>

            </tr>
        </table>
            <form>

            </form>

            <br><br>
        {% endfor %}
        <input type="button" onclick="javascript:location.href='blockchain-manager'" value="管理界面">
        <input type="button" onclick="javascript:location.href='to-patient-manager'" value="病人管理界面">
    </div>
</body>
</html>